[user]
	name = Pedro Henrique Pires
	email = pdrhenriquepires@gmail.com
	username = pedrohenriquepires
[alias]
  parent = "!git show-branch | grep '*' | grep -v \"$(git rev-parse --abbrev-ref HEAD)\" | head -n1 | sed 's/.*\\[\\(.*\\)\\].*/\\1/' | sed 's/[\\^~].*//' #"
  fodase = !git reset --hard && git clean -f -d
  d = diff --word-diff
  s = status
  a = add
  b = branch
  cm = commit
  c = checkout
  l = log --oneline
  p = push
  pl = pull
[color]
  diff = auto
  status = auto
  branch = auto
  ui = true
[core]
  excludesfile = ~/.gitignore_global