snippet cdm
	componentDidMount() {
		${1}
	}

snippet cwm
	componentWillMount() {
		${1}
	}

snippet cwrp
	componentWillReceiveProps() {
		${1}
	}

snippet ren
	render() {
		${1}
	}

snippet con
	constructor() {
		super();
		${1}
	}
